<%- include ('includes/head.ejs') %>
</head>

<body>
    <%- include ('includes/nav.ejs') %>
    <h1>Some error occured!</h1>
    <p>We´re working on fixing this, sorry for this inconvenience!</p>
    <%- include ('includes/footer.ejs') %>